<div class="well">
    <form class="form-horizontal" id="client-info">
        <h3 class="text-center">
            Customer Info
        </h3>
        <hr>
        <div class="form-group">
            <label for="_id" class="control-label col-sm-3">ID:</label>
            <div class="form-control-static col-sm-7">
                <label>{{id}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="control-label col-sm-3">Name:</label>
            <div class="form-control-static col-sm-7">
                {{#if name}}
                    <label>{{formatName name}}</label>
                {{else}}
                    <label>{{name}}</label>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="sex" class="control-label col-sm-3">Sex:</label>
            <div class="form-control-static col-sm-7">
                {{#if sex}}
                    <label>{{toUpperCase sex}}</label>
                {{else}}
                    <label>{{sex}}</label>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label for="height" class="control-label col-sm-3">Height:</label>
            <div class="form-control-static col-sm-7">
                <label>{{height}}
                    <small> cm</small>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="wrist" class="control-label col-sm-3">Wrist Girth:</label>
            <div class="form-control-static col-sm-7">
                <label>{{wrist}}
                    <small> cm</small>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="ankle" class="control-label col-sm-3">Ankle Girth:</label>
            <div class="form-control-static col-sm-2">
                <label>{{ankle}}
                    <small> cm</small>
                </label>
            </div>
            <label for="ect" class="control-label col-sm-3">Registered:</label>
            <div class="form-control-static col-sm-4">
                <label>{{ect}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="lbm" class="control-label col-sm-3">LBM:</label>
            <div class="form-control-static col-sm-2">
                <label>{{lbm}}
                    <small> kg</small>
                </label>
            </div>
            <label for="ect" class="control-label col-sm-3">Last modified:</label>
            <div class="form-control-static col-sm-4">
                <label>{{lmt}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="weight" class="control-label col-sm-3">Weight:</label>
            <div class="form-control-static col-sm-2">
                <label>{{weight}}
                    <small> kg</small>
                </label>
            </div>
        </div>
    </form>
</div>