<tr>
    <td>
        <label for="workout"></label>
        <input type="checkbox" name="workout" id="workout">
        <label for="today-select"></label>
        <select id="today-select" name="today-select">
            {{> today}}
        </select>
        <script>generator.workoutDay()</script>
    </td>
    <td>{{formatName client_name}}</td>
    <td>
        <span class="edit-client">
            <a href="#/editClient/{{clientId}}" title="Edit client"><i class="glyphicon glyphicon-edit"></i></a>
        </span>
        &nbsp;
        <span class="view-info">
            <a href="#/clientInfo/{{_id}}" title="Client info"><i class="glyphicon glyphicon-info-sign"></i></a>
        </span>
    </td>
    <td>{{workout}}/{{multiply qty}} [{{used workout qty}}%]</td>
    <td>{{zone}}</td>
    <td>{{price}}</td>
    <td>{{payment}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>{{duration}}</td>
    <td>
        <span class="edit-card">
            <a href="#/editCard/{{_id}}" title="Edit card"><i class="glyphicon glyphicon-edit"></i></a>
        </span>
        &nbsp;
        <span class="remove-card">
            <a href="#/deleteCard/{{_id}}" title="Delete card"><i class="glyphicon glyphicon-trash"></i></a>
        </span>
    </td>
</tr>