<tr>
    <td>
        <label for="checkbox123" class="label-table"></label>
        <input type="checkbox" class="filled-in" id="checkbox123">
        {{#each cards}}
            {{> today}}
        {{/each}}
    </td>
    <td>{{formatName client_name}}</td>
    <td>
        <span class="one">
            <a href="#/editClient/{{clientId}}" title="Edit client"><i class="glyphicon glyphicon-edit"></i></a>
        </span>
        <span class="two">
            <a data-toggle="modal" href="#myModal" title="Client info"><i class="glyphicon glyphicon-info-sign"></i></a>
        </span>
    </td>
    <td>{{multiply qty}}</td>
    <td>{{zone}}</td>
    <td>{{price}}</td>
    <td>{{payment}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>{{duration}}</td>
    <td>
        <span class="one">
            <a href="#/editCard/{{_id}}" title="Edit card"><i class="glyphicon glyphicon-edit"></i></a>
        </span>
        <span class="two">
            <a href="#/deleteCard/{{_id}}" title="Delete card"><i class="glyphicon glyphicon-trash"></i></a>
        </span>
    </td>
</tr>