<div class="container-fluid" id="accounting">
    <h2 class="trainer">{{formatName trainer}}</h2>
    {{> header}}
    <br><br>
    <table class="table table-striped table-responsive" id="clients-cards">
        {{#if isEmpty}}
            <thead>
            <tr>
                <th>&#35; Day</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Card</th>
                <th>Zone</th>
                <th><i class="glyphicon glyphicon-usd"></i> Price</th>
                <th><i class="glyphicon glyphicon-piggy-bank"></i> Payment</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            </thead>
        {{else}}
            <thead>
            <tr>
                <th>&#35; Day</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Card</th>
                <th>Zone</th>
                <th><i class="glyphicon glyphicon-usd"></i> Price</th>
                <th><i class="glyphicon glyphicon-piggy-bank"></i> Payment</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each cards}}
                {{> clientReg}}
            {{else}}
                No clients in database.
            {{/each}}
            </tbody>
            <tfoot>
            <tr>
                <td>Summary</td>
                <td>Cards: {{count}}</td>
                <td><a href="#/allClients"><button type="submit"  class="btn">Clients</button></a></td>
                <td><a href="#/allCards"><button type="submit"  class="btn">Cards</button></a></td>
                <td>A: {{active}}%</td>
                <td>Total: {{total}}</td>
                <td>Wallet: {{paid}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        {{/if}}
    </table>
    <a href="#/logSessions">
        <button type="submit" class="btn btn-default">Log Session</button>
    </a>
</div>

{{> footer}}
